html{
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

div#intro-pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -230px;
    width: 400px;
    height: 450px;
    font-size: 15px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    /* display: none; */
}

div#intro-pop-up .text-container{
    height: 410px;
}

div#intro-pop-up .btn-container{
    margin: 0 auto;
    width: 45px;
}

div#userid-pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -230px;
    width: 400px;
    height: 450px;
    font-size: 15px;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    visibility: hidden;
}

div#experiment-page{
    
    margin: 5% auto;
    visibility: hidden;
}

div#experiment-page div.dashboard{
    display: flex;
    height: auto;
    width: 95%;
    height: 80%;
    margin: 0 auto;
}

div#experiment-page div.dashboard div.visualization{
    border: 1px solid black;
    /* border-radius: 10px; */
    padding: 10px;
    margin: 10px auto;
    width: 90%;
}

div#experiment-page div.navbar{
    align-items: center;
    text-align: center;
}

a{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div#questions {
    display: none;
    margin-left: 0 auto;
    text-align: center;
}

.user-control{
    padding: 10px;
}
