html{
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: #14213d;
}

p{
    font-size: small;
    margin-left: 50px;
    color: #14213d;

}

.labels{
    font-size: small;

}

/* .occupancy{
    float: left;
}

.demolition{
    float: left; 

}

.permit{
    float: left; 
} */